<h1>Editing Book</h1>

<%= form_with model: @book, local: true do |f| %>
<p>title</p>
  <%= f.text_field :title %>

  <p>body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

<% end %>
<%= link_to 'show', book_path %>
|
<%= link_to 'back', books_path %>

