
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
    <div class="col-lg-3">
    <%= render 'users/user', user: @user %>
    <%= render 'book', book: @book_new %>
    </div>

    <div class="col-lg-9">
      <h1>Book detail</h1>
    <table class="table table-user-show">
      <tr>
          <td><%= image_tag @user.get_image %></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= @book_new.title %></td>
          <td><%= @book_new.body %></td>
          <% if @book_new.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book_new) %></td>
            <td><%= link_to "Destroy", book_path(@book_new), method: :delete %></td>
          <% end %>
      </tr>
    </table>
    </div>
  </div>
</div>
