<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ad83e48130.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header class="navbar navbar navbar-dark bg-dark navbar-inverse">
      <div class="container">
      <nav class='nav navbar-nav navbar-left' >
        <h3><a class="navbar-brand p-3" href = "/" >Bookers</a></h3>
      </nav>
      <ul class="d-flex flex-row navbar-nav ml-auto">
        <% if user_signed_in? %>
         <li class="nav-item m-3 ">
           <%= link_to user_path(current_user) do %>
          <i class="fas fa-home nav-link text-light"></i><div class="text-white">Home</div>
          <% end %>
         </li>
         <li class="nav-item m-3">
           <%= link_to users_path do %>
          <i class="fas fa-users nav-link text-light"></i><div class="text-white">Users</div>
          <% end %>
         </li>
         <li class="nav-item m-3">
           <%= link_to books_path do %>
           <i class="fas fa-book-open nav-link text-light"></i><div class="text-white">Books</div>
           <% end %>
         </li>
          <li class="nav-item m-3">
            <%= link_to destroy_user_session_path, method: :delete do %>
             <i class = "fas fa-sign-out-alt nav-link text-light"></i><div class="text-white">Log out</div>
             <% end %>
          </li>


        <% else %>
          <li class="nav-item m-3">
            <%= link_to root_path do %>
          <i class="fas fa-home nav-link text-light"></i><div class="text-white">Home</div>
          <% end %>
         </li>
          <li class="nav-item m-3">
            <%= link_to about_path do %>
            <i class="fas fa-link nav-link text-light"></i><div class="text-white">About</div>
            <% end %>
          </li>
          <li class="nav-item m-3">
            <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus nav-link text-light"></i><div class="text-white">Sign up</div>
            <% end %>
          </li>
          <li class="nav-item m-3">
            <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt nav-link text-light"></i><div class="text-white">Log in</div>
            <% end %>
          </li>

        <% end %>
        </ul>


  </div>
</header>

  <main class="mb-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
    <footer class="mx-auto" style="width: 200px;">
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
